<%= render 'shared/content_title', title: "All Classes" %>

<h5>Parkour Classes:</h5>
  <ul>
    <% @parkour_classes.each do |classroom| %>
      <%= render 'classroom', classroom: classroom %>
    <% end %>
  </ul>
<h5>Gymnastics Classes:</h5>
  <ul>
    <% @gymnastics_classes.each do |classroom| %>
      <%= render 'classroom', classroom: classroom %>
    <% end %>
  </ul>
