<ul>
  <% if admin? %>
    <% @classroom.reload.students.each do |student| %>
      <li><%= student.full_name %> | <%= link_to 'edit', edit_classroom_student_path(student) %> | 
        <%= link_to 'delete',  classroom_students_path(student),
          data: { confirm: 'Are you sure?' }, method: :delete %>
      </li>
    <% end %>
  <% else %>
    <% @classroom.reload.students.each do |student| %>
      <li><%= student.full_name %></li>
    <% end %>
  <% end %>
</ul>
