<% if error_object.errors.any? %>
  <div>
    <h5> Please fix these errors:</h5>
      <ul>
        <% error_object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
  </div>
<% end %>